@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--highlight-color);
  transition: 0.4s;
  padding: 3px;
}

.popup-text{
  font-size: 1.2rem;
}

.first-content{
  margin:40px 0 30px;
}

[data-theme="light"] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --navbar-bg: 	hsl(0, 0%, 95%);
  --navbar-text-color: hsl(0, 0%, 20%);
}

[data-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --navbar-bg: hsla(0, 0%, 95%, 0.27);
  --navbar-text-color: hsl(0, 0%, 100%);
}

@keyframes fade-down{
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

dialog#modal{
  padding: 1em;
  max-width: 50ch;
  z-index: 5;
  position: fixed;
  top:40%;
  left:40%;
  transform: translate(-50%, -50%);
  border-color: var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: var(--color-background-soft);
  color: var(--color-text);

  & > *{
    margin: 0 0 0.5rem 0;
  }
}

dialog#modal[open]{
  animation: fade-up 300ms forwards;
}

dialog#modal::backdrop{
  background:rgb(0 0 0 / .4);
}

dialog#modal[closing]{
  animation: fade-down 300ms forwards;
}

dialog#modal.closingDialog{
  animation: fade-down 300ms forwards;
}